* {
    box-sizing: border-box;
  }

  .hidden{
    display: none;
  } 

  #form-container{
    margin-top: 20px;
  }

  .header{
    text-align: center;
  }

  #js-new-bookmark{
    float: left;
  }
