* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: aquamarine
}

h1{
  text-align: center;
}

.add-button-container{
  display: block;
  text-align: center;
  margin-top: -70px;
}

.new-bookmark-form-container{
  display: block;
  text-align: center;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.filter-label{
  margin-left: 0;
}

::placeholder{
  font-size: 12px;
}

#js-submit-bookmark-form{
  position: relative;
  margin-top: 100px;
}

.rating-form-container{
  display: block;
  text-align: center;
  margin-top: 20px;
}

#js-bookmark-button-form{
  position: relative;
  margin-top: 100px;
}

.add-bookmark > div {
  margin-bottom: 10px;
}

.list-of-bookmarks{
  text-align: center;
  margin-top: 20px;
  margin-bottom: -175px;
}

.container{
display: flex;
flex-direction: column;
max-width: 1000px;
margin-left: auto;
margin-right: auto;
}

button {
  padding: 5px;
}

input[type="text"], input[type="url"], input[type="textfield"]{
margin-top: 10px;
margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 210px; 
  text-align: right; 
  margin-left: -225px;
  }

select{
  margin-top: 5px;
  margin-bottom: 15px;
}



button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.bookmark-list {
  list-style: none;
  margin-top: 200px;
  padding-left: 30px;
  padding-right: 30px;
  flex-flow: column;
}

.bookmark-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  background-color: rgb(245, 225, 225);
  width: auto;
}

.bookmark-item {
  display: block;
  color: grey;
  font-size: 20px;
  margin-bottom: 15px;
}

.bookmark-title {
  margin-bottom: -10px;
}

.description-text, .bookmark-controls {
  margin: 0 10px 10px 30px;
}

.ratings-text{
  display: block;
}

.bookmark-site{
  margin-top: 15px;
  margin-left: -30px;
  margin-bottom: -15px;
}

.description-title{
  margin-left: 0;
}

.bookmark-remove{
  float: right;
}


@media screen and (max-width: 600px) {
  body {
    font-family: 'Roboto', sans-serif;
    background-color: red;
    color: rgb(255, 254, 254);
  }
  .bookmark-list > li {
    margin-bottom: 20px;
    border: 1px solid grey;
    background-color: black;
    width: auto;
  }

  .new-bookmark-form-container{
    display: block;
    text-align: center;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
  }

}
 



